@model Universidad.Data.Models.Materia

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Alumno/_AlumnoLayout.cshtml";
    if (Session["userId"] == null || (bool)Session["userIsAdmin"])
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Detalles de la materia</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario)
        </dd>

        <dt>
            @Html.DisplayName("Profesor")
        </dt>

        <dd>
            @Html.Action("_mostrarProfesor", "Materia", new { id = Model.IdProfesor })
        </dd>
        <dt>
            @Html.DisplayName("Cupo disponible")
        </dt>

        <dd>
            @(Model.CupoMaximoAlumnos - Model.CupoUtilizado)
        </dd>

        <dt>
            @Html.DisplayName("Cupo maximo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CupoMaximoAlumnos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Anotarse", "Anotar", new { id = Model.Id }) |
    @Html.ActionLink("Volver a lista de materias", "Index")
</p>
