@model IEnumerable<Universidad.Data.Models.Profesor>

@{
    ViewBag.Title = "Profesores";
    Layout = "~/Views/Administrador/_AdminLayout.cshtml";
    if (Session["userId"] == null || !(bool)Session["userIsAdmin"])
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Lista de profesores</h2>

<p>
    @Html.ActionLink("Crear nuevo profesor", "Crear", "Profesor")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acciones
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-item">@Html.ActionLink("Editar", "Editar", "Profesor", new { id = item.Id }, null)</div>
                    <div class="dropdown-item">@Html.ActionLink("Detalles", "Detalles", "Profesor", new { id = item.Id }, null)</div>
                    <div class="dropdown-item">@Html.ActionLink("Eliminar", "Eliminar", "Profesor", new { id = item.Id }, null)</div>
                </div>
            </div>
        </td>
    </tr>
}

</table>
